@use '../base/variables' as vars;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    will-change: transform, box-shadow;

    &:hover {
        transform: translateY(-5px);
        box-shadow: vars.$hover-shadow;
        border-color: vars.color(primary);
        cursor: pointer;
    }
}