@use '../base/variables' as vars;
@use '../base/mixins' as *;

.forecast-card {
    background-color: vars.color(white);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s ease;
    height: 100%;
    box-shadow: vars.$card-shadow;

    &:hover {
        transform: scale(1.03);
        border-color: vars.color(primary);
    }

    &__body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__day {
        color: vars.color(secondary);
    }

    &__temp-high {
        color: vars.color(dark);
    }

    &__temp-low {
        color: vars.color(secondary);
    }
}