@use '../base/variables' as vars;

.weather-app {
    font-family: vars.$font-stack;
    background-color: vars.color(light);

    &__header {
        background-color: vars.color(primary);
        padding: 1rem 0;
    }

    &__main {
        padding: 3rem 0;
        min-height: 80vh;
    }

    &__footer {
        background-color: vars.color(dark);
        color: vars.color(white);
        padding: 1.5rem 0;
        text-align: center;
        margin-top: auto;
    }
}