@use '../base/variables' as *;

.weather-app {
    font-family: $font-stack;
    background-color: color(light);

    &__header {
        background-color: color(primary);
        padding: 1rem 0;
    }

    &__main {
        padding: 3rem 0;
        min-height: 80vh;
    }

    &__footer {
        background-color: color(dark);
        color: color(white);
        padding: 1.5rem 0;
        text-align: center;
        margin-top: auto;
    }
}